@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 0.15rem;
    font-family: "Yusei Magic", sans-serif;
}

:root {
    --circle: "\f111";
    --circle-color: #dc685a;
    --cross: "\f00d";
    --cross-color: #ecaf4f;

    --icon-color: rgb(150, 150, 150);
}

html,
body,
main {
    width: 100%;
    height: 100%;
}

body {
    background-color: seashell;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    margin-bottom: 1.4rem;
}

.scoreTitle {
    margin-bottom: 0.7rem;
    font-size: 2.5rem;
    text-align: center;
}

.container {
    width: calc((125px * 3) + (0.75rem * 2));
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container h5 {
    font-size: 1.25rem;
    text-shadow: 1px 1px rgba(51, 51, 51, 0.5);
}

#resetBtn {
    background-color: #343a40;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(51, 51, 51, 0.5);
    line-height: 1;
    position: relative;
    outline: none;
    cursor: pointer;
}

#resetBtn div {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: transform 250ms ease;
}

#resetBtn span {
    padding: 0.55rem 0.9rem;
    display: inline-block;
    color: snow;
    font-size: 1.25rem;
}

#resetBtn:hover {
    box-shadow: none;
}

#resetBtn:hover div {
    background-image: linear-gradient(
        90deg,
        #00c0ff 0%,
        #ffcf00 49%,
        #fc4f4f 80%,
        #00c0ff 100%
    );
    box-shadow: 1px 2px 4px rgba(51, 51, 51, 0.5);
    transform: scaleX(1.1) scaleY(1.15);
    animation: slidebg 5s 275ms linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 0.75rem;
}

.board div {
    width: 125px;
    height: 125px;
    background-color: #78bec5;
    border-radius: 12.5px;
    cursor: pointer;
}

.board div:hover {
    background-color: #3d4250;
}

.board div::before {
    width: 100%;
    height: 100%;
    color: var(--icon-color);
    font-family: "Font Awesome 5 Free";
    display: flex;
    justify-content: center;
    align-items: center;
}

/* if player is circle */

[data-player="circle"] div:not([data-played-by]):hover::before,
.board[data-player] [data-played-by="circle"]::before {
    content: var(--circle);
    font-size: 2.9rem;

    /* property text-stroke to increase font weight */
    -webkit-text-stroke: 5px currentColor;
}

/* if playes is cross */

[data-player="cross"] div:not([data-played-by]):hover::before,
.board[data-player] [data-played-by="cross"]::before {
    content: var(--cross);
    font-size: 3.5rem;
    font-weight: 900;
}

/* Squares that are already played */

.board[data-player] [data-played-by] {
    cursor: not-allowed;
}

.board[data-player] [data-played-by="circle"] {
    background-color: var(--circle-color);
}

.board[data-player] [data-played-by="circle"]::before {
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
}

.board[data-player] [data-played-by="circle"]::before,
.board[data-player] [data-played-by="cross"]::before {
    color: white;
}

.board[data-player] [data-played-by="cross"] {
    background-color: var(--cross-color);
}

.board[data-player] [data-played-by="cross"]::before {
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

/* Result */

#resultContainer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#resultContainer.show {
    display: flex;
}

.resultText {
    margin-bottom: 1rem;
    color: seashell;
    font-size: 4rem;
    text-transform: capitalize;
}

#newGame {
    background-color: transparent;
    border: none;
    color: snow;
    font-size: 1.5rem;
    font-weight: 900;
    position: relative;
    outline: none;
    cursor: pointer;
}

#newGame::before,
#newGame::after {
    content: "";
    width: 100%;
    height: 50px;
    position: absolute;
    transform: skewX(30deg);
    z-index: -2;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#newGame::before {
    background-color: var(--circle-color);
    top: -0.5rem;
    left: -1.5rem;
}

#newGame::after {
    background-color: var(--cross-color);
    top: 0.5rem;
    left: 1.5rem;
}

#newGame:hover::before,
#newGame:hover::after {
    width: 75%;
    top: calc(100% - 40px);
    transform: skewx(0deg);
}

#newGame:hover::before {
    border-radius: 0 7px 7px 0;
    left: 49%;
}

#newGame:hover::after {
    border-radius: 7px 0 0 7px;
    left: -26%;
}